
.whole-thing{
    background-color:black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
}
.background{
    background: linear-gradient(
                     rgba(0, 0, 0, 0.5), 
                     rgba(0, 0, 0, 0.5));
                     background-repeat: no-repeat;
}
.logom{
    width: 100px;
    height:60px;

}
.top-row{
    display:flex;
    justify-content: space-between;

}
.nav-nav-tabs{
    font-size: 1.5rem;
    display:flex;
    flex-direction:row;

}
.nav-link{
    color:lightgray;
}
.name{
    display:flex;
    justify-content: flex-start;
    margin:3.5em 0 0 7em;
    
}
.myname{
    color: white;
}

.short{
    display:flex;
    justify-content: center;
    word-wrap: normal;
    margin:0 0 1em 0;
}
.middle{
    color:lightgray;
    background-color: rgb(56, 55, 55);
    padding: 2%;
    opacity: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.socials{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    
    
}
.socialrow{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.insta{
    height:70px;
    width:70px;
    margin:1em 2em;
}
.github{
    height:70px;
    width:70px;
    margin:1em 2em;  
}
.linkIN{
    height:70px;
    width:70px;
    margin:1em 2em;
    
}
#caption{
    border-style: groove;
    border-width:2px;
    margin: 1em;
    padding:6px;
    color:rgb(162, 53, 252);
    text-align: center;
}

.jumbotron-jumbotron-fluid{
    background-color: rgb(56, 55, 55);
    margin:2em 0em;
    display:flex;
    flex-direction: column;
}
.lead{
    color:lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.display-4{
    color: rgb(162, 53, 252);
}

.jumbotron-jumbotron-fluid{
    margin-bottom: 8em;
}
.containers{
    display:flex;
    justify-content: center;
    text-align: center;
    
}
.container-fluid{
    border:2px white;
    width:100%;
    background-color:transparent;
    margin:2px;

}
.elogos{
    border-radius: 20%;
    height: 20%;
    width:20%;
    padding: 2%;
}
.values{
    color:rgb(162, 53, 252);
    text-decoration: lightgray underline;
    

}
.li{
    font-size: 2rem;
    color: lightgray;
    text-align: center;
}
.closer {
    position: relative;
    left: -20%;
    text-align: center
}

.footer{
    padding:0% 20% 0% 5%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.Card{
    background-color: black;
}
.card-body
{
    margin:1px;
}
.modal-title
{
    display: flex;
    justify-content: center;
}

.message
{
    display: flex;
    align-content: center;
    justify-content: center;
}
.texas
{
    display: flex;
    align-content: center;
    justify-content: center;
}
.a{
    color: lightgray;
}

.brightness {
   
    display: inline-block;
   
}
.brightness img:hover {
    opacity: .5;
}

#carouselExampleIndicators{
width:200px;
margin-left:6.5em;
margin-bottom: 8em;

}
.carousel-indicators{
margin-top: 2em;
position:inherit;
}
.carousel-inner{
margin-bottom: 4em;
position: center;
margin:auto,auto;
}

.carousel-item{
    height: 100px;
    width:100px;
    margin:auto,auto;
}
.d-block{
    margin:auto,auto;
    
}
.w-100{
    margin-left:3em;
    
}
@media only screen and (max-width: 1200px){
    #carouselExampleIndicators{
        margin-left:4.5em;
        margin-bottom: 2em;
        width:200px;
    }
    .footer{
        padding:0% 20% 0% 5%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}
@media only screen and (max-width: 872px){
    #carouselExampleIndicators{
        margin-left:1.5em;
        margin-bottom: 0em;
        width:200px;
    }
    .footer{
        padding:0% 20% 0% 5%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .li{
        font-size: 1rem;
        color: lightgray;
        text-align: center;
    }
}
@media only screen and (max-width: 704px){
    #carouselExampleIndicators{
        margin-left:.5em;
        margin-bottom: 0em;
        width:200px;
    }
    .footer{
        padding:2% 2% 0% 2%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .li{
        font-size: 1rem;
        color: lightgray;
        text-align: center;
    }
    .values{
        font-size: 1.5rem;

    }
    .card{
        max-width: 200px;
    }
    .logom{
        margin-left:10px;
    }
}
@media only screen and (max-width: 375px){
    #carouselExampleIndicators{
        margin-left:3.5em;
        margin-bottom: 0em;
        width:200px;
    }
    .footer{
        padding:2% 2% 0% 3%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .li{
        font-size: 1rem;
        color: lightgray;
        text-align: center;
    }
    .values{
        font-size: 1.5rem;

    }
    .card{
        max-width: 200px;
        margin-right: 2em;
    }
    .moving{
       display: flex;
       
    }
    .containers{
        display:flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-left: 3em;
    }
    .jumbotron-jumbotron-fluid{
        margin-bottom:1em;
    }
}